body { 
        font-family:'Junction','Hoefler Text',Palatino,'Palatino Linotype','Book Antiqua', 'URW Palladio L', georgia,'Bitstream Vera Serif',serif;
        font-size:13pt;
        max-width:700px;
        margin: 0 auto;
        line-height: 1.5em;
}
.date{
        font-size:80%;
        font-style:italic;
        text-align:right;
}
.copy{
        font-size:60%;
}
#header{
        color: #61374b;
        font-size:200%;
        font-family:'Chunk','Tahoma','Geneva',sans-serif;
        #text-shadow: #ccc 2px 2px 5px;
        float:right;
        width:400px;
        text-align:right;
}
.emph{
        font-family:'Chunk','Tahoma','Geneva';
}
h1 a{
        color: #31674b;
}
h2 a{
        color: #31674b;
}

h1, h2, h3, h4{
        color: #31674b;
        font-family:'Chunk','Tahoma','Geneva',sans-serif;
        #text-shadow: #ccc 2px 2px 5px;
        font-weight:500;
}
h1{
        text-align:right;
}
h2{
        font-size:22pt;
        color:
}
li {
        line-height: 1.6em;
        list-style-type:none;
}
A img{
        border:0;
        text-decoration:none;
}
A link{
        text-decoration: none;
        color:#E3FFF2;
}
A visited{
        text-decoration: none;
        color:#E3F2FF;
}
A{
        text-decoration: none;
}
#twitter{
        font-size:80%;
}
pre {
        font-family:"Inconsolata",Consolas,"Bitstream Vera Sans Mono",Mono;
        font-size:11pt;
}
.highlight {
        overflow:auto;
        margin-left:1em;
        margin-right:1em;
}
.highlight pre{
        background-color:#E0FFE0;
        padding-left:1em;
        padding-right:1em;
        padding-top:0.5em;
        padding-bottom:0.5em;
}
