body { 
        font-family:Palatino,"Palatino Linotype","Book Antiqua", "URW Palladio L", georgia,serif;
        font-size:20pt;
        padding-left:15px;
        padding-right:10px;
        max-width:2000px;
}
h2{
        font-size:27pt;
}
