.paper1{
        padding:3pt;
        padding-bottom:2em;
        margin-top:5pt;
        background:#D0D0D0;
}
.paper2{
        background:#E0E0E0;
        padding:3pt;
        margin-top:5pt;
        padding-bottom:2em;
}
body { 
        font-family:tahoma,arial,sans-serif;
        font-size:11pt;
        background:#FFFFFF;
        max-width:700px;
        margin: 0 auto;
        border-left:2px solid #E4E9E2;
        border-right:2px solid #E4E9E2;
}

h2{
        font-size:17pt;
        font-weight:bold;
        padding:1pt;
}
.copyrightinfo{
        font-size: 80%;
        color: #333353; 
}

li {
        line-height:120%;
        list-style-type:none;
}

.download {
        font-size: 9pt;
        float:right;
        width:55px;
        text-align:center;
        padding:5px;

}

.maintitle {
        background:#717370;
        color:#E4E9E2;
        border-bottom:solid 3pt;
        margin:0pt;
        padding:3pt;
        padding-top:5pt;
}

.content {
        margin:2pt;
        padding:2pt;
        padding-left:10pt;
}

.title {
        font-size:110%;
        margin-top:6pt;
}
.citation{
        max-width:650px;
        padding-left:1em;
}
A img{
        border:0;
        text-decoration:none;
}
A link{
        text-decoration: none;
        color:#E3F2FF;
}

A visited{
        text-decoration: none;
        color:#E3F2FF;
}
A{
        text-decoration: none;
}

.rsslink{
       text-align:right;
}
.embedded{
        font-size:9pt;
}
p {
        padding:1em;
}
