span.G{background-color: #ff9900; color: rgba(0, 0, 0, 1)}
span.A{background-color: #ccff00; color: rgba(0, 0, 0, 1)}
span.P{background-color: #ffcc00; color: rgba(0, 0, 0, 1)}
span.S{background-color: #ff3300; color: rgba(0, 0, 0, 1)}
span.T{background-color: #ff6600; color: rgba(0, 0, 0, 1)}
span.R{background-color: #0000ff; color: rgba(0, 0, 0, 1)}
span.H{background-color: #0066ff; color: rgba(0, 0, 0, 1)}
span.K{background-color: #6600ff; color: rgba(0, 0, 0, 1)}
span.N{background-color: #cc00ff; color: rgba(0, 0, 0, 1)}
span.D{background-color: #ff0000; color: rgba(0, 0, 0, 1)}
span.Q{background-color: #ff00cc; color: rgba(0, 0, 0, 1)}
span.E{background-color: #ff0066; color: rgba(0, 0, 0, 1)}
span.C{background-color: #ffff00; color: rgba(0, 0, 0, 1)}
span.I{background-color: #66ff00; color: rgba(0, 0, 0, 1)}
span.L{background-color: #33ff00; color: rgba(0, 0, 0, 1)}
span.M{background-color: #00ff00; color: rgba(0, 0, 0, 1)}
span.V{background-color: #99ff00; color: rgba(0, 0, 0, 1)}
span.F{background-color: #00ff66; color: rgba(0, 0, 0, 1)}
span.W{background-color: #00ccff; color: rgba(0, 0, 0, 1)}
span.Y{background-color: #00ffcc; color: rgba(0, 0, 0, 1)}
span.X{background-color: #666666; color: rgba(0, 0, 0, 1)}
span.U{background-color: #666666; color: rgba(0, 0, 0, 1)}
