span.A{background-color: rgb(0, 0, 255);color: rgba(0, 0, 0, 1);}
span.C{background-color: rgb(0, 0, 153);color: rgba(0, 0, 0, 1);}
span.G{background-color: rgb(153, 204, 0);color: rgba(0, 0, 0, 1);}
span.T{background-color: rgb(204, 0, 0);color: rgba(0, 0, 0, 1);}
span.N{background-color: rgb(104, 104, 104);color: rgba(0, 0, 0, 1);}
span.U{background-color: rgb(104, 104, 104);color: rgba(0, 0, 0, 1);}
