/* taylor.scss */
span.A {
  background-color: green; }

span.G {
  background-color: red; }

span.C {
  background-color: yellow; }

span.T {
  background-color: blue; }

span.U {
  background-color: blue; }
