<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="<%= @page.author %>" />
   <link rel="alternate" type="application/rss+xml" href="http://feeds.logspace.co.uk/logspace" />
   <link rel="stylesheet" href="/css/basic.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
   <link rel="stylesheet" href="/css/iphone.css" type="text/css" media="only screen and (max-device-width: 480px)" title="no title" charset="utf-8"/>
   <link href="http://raph-levien.kernest.com/http-www-logspace-co-uk.css" media="screen" rel="stylesheet" type="text/css" />

   <script type="text/javascript">

           var _gaq = _gaq || [];
           _gaq.push(['_setAccount', 'UA-29300052-1']);
           _gaq.push(['_trackPageview']);

           (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

</script>
</head>
<body>
 
<div class="site">
  {{ content }}
</div>
 
</body>
</html>
 
